.blog-header
    display: flex
    justify-content: flex-start
    align-items: center
    font-family: 'Monserrat', sans-serif

    figure
        width: 150px
        margin: 0 20px 0 0

        .blog-thumbnail
            width: 100%

    .blog-title
        color: #505050

    .blog-meta
        color: #999999
        font-size: .8rem

    .blog-tags
        margin-top: 20px

        .blog-tag
            color #5a5a5a
            text-decoration: none
            font-size: .7rem
            padding: 10px
            background-color: #e6e6e6
            margin-right: 5px
            border-radius: 5px

            &:hover
                background-color: #d4d4d4

.blog-body
    margin-top: 50px
    font-family: 'Inconsolata', 'Helvetica', sans-serif
    color: #404040

    .blog-post-content
        p
            line-height: 1.8rem

        a
            font-weight: bold
            color: #f35757

        li
            margin: 5px 0

@media (max-width: 500px)
    .blog-header
        figure
            display: none

@media (max-width: 500px)
    .blog-header

        figure
            display: none
