.footer
    padding: 10px 5px 5px
    width: 40%
    max-width: 800px
    margin: 25px auto


    .notice-container
        color: #ababab
        display: flex
        flex-wrap: wrap
        justify-content: space-between
        align-content: center
        align-items: center
        margin-top: 25px


        h4
            a
                text-decoration: none
                color: #111111


@media (max-width: 640px - 1px)
    .notice-container
        justify-content: space-around
    
        h4
            text-align: center
            margin: 0



@media (max-width: 1800px)
    .footer
        width: 45%
    
@media (max-width: 1400px)
    .footer
        width: 55%

@media (max-width: 1000px)
    .footer
        width: 65%

@media (max-width: 800px)
    .footer
        width: 90%