.contact
    margin-top: 50px

.contact-title
    font-family: 'Helvetica', sans-serif
    font-size: 1.7rem
    color: #111111

.contact-list
    margin: 15px 0
    font-weight: bold

    .contact-link
        color #f35757
