.blog
    margin-top: 30px
    display: flex
    justify-content: flex-start
    flex-direction: column
    font-family: 'Helvetica', sans-serif

    .blog-title
        font-size: 1.8rem
        margin-bottom: 15px

    .blog-posts
        width: 100%

        .blog-post
            display: flex
            justify-content: flex-start
            align-items: center
            padding: 15px
            border-bottom: 1px solid #bdbdbd
            cursor: pointer
            color: #222222
            text-decoration: none

            &:hover
                background-color: #e0e0e0

            figure
            h2
                margin: 0

            figure
                .blog-thumbnail
                    margin-right: 10px

            .blog-post-title
                font-size: 1rem
